<!DOCTYPE html>
<html lang="en"xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>主界面</title>
  <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="author" content="Vincent Garreau" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" media="screen" th:href="@{css/style.css}">
  <link rel="stylesheet" type="text/css" th:href="@{css/reset.css}"/>
  <link rel="stylesheet" th:href="@{layui/css/layui.css}"  media="all">
</head>
<body>

<div id="particles-js">
  <div class = "public">
    <ul class="layui-nav layui-bg-cyan" lay-filter="menu">
      <li class="layui-nav-item layui-this"><a id="all" href="/home">所有需求</a></li>
      <li class="layui-nav-item"><a href="/home/myRelease">我发布的</a></li>
      <li class="layui-nav-item"><a href="/home/myAccept">我接受的</a></li>
      <li class="layui-nav-item"><a href="/home/logout">注销</a></li>
    </ul>
    <table class="layui-hide" id="demo" lay-filter="test"></table>
  </div>
</div>

<!-- scripts -->
<script type="text/html" id="barDemo">
  <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
</script>


<script th:src="@{layui/layui.js}"></script>
<script th:inline="none">
  layui.config({
    version: '1598935358940' //为了更新 js 缓存，可忽略
  });

  layui.use(['layer', 'table', 'element'], function(){
    var layer = layui.layer //弹层
            ,table = layui.table //表格
            ,element = layui.element //元素操作


    //执行一个 table 实例
    table.render({
      elem: '#demo'
      ,height: 720
      ,url: '/home/getAllOrders' //数据接口
      ,title: '用户表'
      ,page: true //开启分页
      ,toolbar: 'default' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
      ,cols: [[ //表头
        {field: 'id', title: 'ID', width:80, sort: true, fixed: 'left'}
        ,{field: 'belong', title: '创建人', width:80}
        ,{field: 'experience', title: '悬赏', width: 90, sort: true}
        ,{field: 'title', title: '标题', width: 600}
        ,{field: 'requestAddress', title: '地址', width: 400}
        ,{fixed: 'right', width: 165, align:'center', toolbar: '#barDemo'}
      ]]
    });

    //监听头工具栏事件
    table.on('toolbar(test)', function(obj){
      var checkStatus = table.checkStatus(obj.config.id)
              ,data = checkStatus.data; //获取选中的数据
      switch(obj.event){
        case 'add':
          layer.msg('添加');
          window.location.href="home/addOrder";
          break;
      };
    });

    //监听行工具事件
    table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
      var data = obj.data //获得当前行数据
              ,layEvent = obj.event; //获得 lay-event 对应的值
      if(layEvent === 'detail'){
        layer.msg('查看操作');
        window.location.href = "home/detail/"+data.id;
        //填充函数
      }
    });
  });
</script>

<script th:src="@{js/particles.min.js}"></script>
<script th:src="@{js/app.js}"></script>

</body>
</html>